{
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": true,
  "jsxSingleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "importsOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/providers/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^@/utils/(.*)$",
    "^@/hooks/(.*)$",
    "^@/store/(.*)$",
    "^[./]",
    "^(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}